[Unit]
Description="UWSGI instance for zpool_prometheus exporter"
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/serve_zpool_prometheus
ExecStart=/usr/bin/uwsgi --ini wsgi.ini

[Install]
WantedBy=multiuser.target
